BBCuentas/Connected Services/AppRemota/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IService1_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://45.235.173.229:7777/Service1.svc?xsd=xsd1" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://45.235.173.229:7777/Service1.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/Message" />
      <xsd:import schemaLocation="http://45.235.173.229:7777/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_Upload_InputMessage">
    <wsdl:part name="parameters" element="tns:Upload" />
  </wsdl:message>
  <wsdl:message name="IService1_Upload_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Download_InputMessage">
    <wsdl:part name="parameters" element="tns:Download" />
  </wsdl:message>
  <wsdl:message name="IService1_Download_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownloadResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EjecutaAppRemota_InputMessage">
    <wsdl:part name="parameters" element="tns:EjecutaAppRemota" />
  </wsdl:message>
  <wsdl:message name="IService1_EjecutaAppRemota_OutputMessage">
    <wsdl:part name="parameters" element="tns:EjecutaAppRemotaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ConsultaMySQL_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaMySQL" />
  </wsdl:message>
  <wsdl:message name="IService1_ConsultaMySQL_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaMySQLResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DescargaMySQL_InputMessage">
    <wsdl:part name="parameters" element="tns:DescargaMySQL" />
  </wsdl:message>
  <wsdl:message name="IService1_DescargaMySQL_OutputMessage">
    <wsdl:part name="parameters" element="tns:DescargaMySQLResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Query_InputMessage">
    <wsdl:part name="parameters" element="tns:Query" />
  </wsdl:message>
  <wsdl:message name="IService1_Query_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreaRegSQL_InputMessage">
    <wsdl:part name="parameters" element="tns:CreaRegSQL" />
  </wsdl:message>
  <wsdl:message name="IService1_CreaRegSQL_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreaRegSQLResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Pub_ConaEmiPolSAPS_InputMessage">
    <wsdl:part name="parameters" element="tns:Pub_ConaEmiPolSAPS" />
  </wsdl:message>
  <wsdl:message name="IService1_Pub_ConaEmiPolSAPS_OutputMessage">
    <wsdl:part name="parameters" element="tns:Pub_ConaEmiPolSAPSResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Pub_FinaEmiPolSAPS_InputMessage">
    <wsdl:part name="parameters" element="tns:Pub_FinaEmiPolSAPS" />
  </wsdl:message>
  <wsdl:message name="IService1_Pub_FinaEmiPolSAPS_OutputMessage">
    <wsdl:part name="parameters" element="tns:Pub_FinaEmiPolSAPSResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Pub_ConaCancPolNTU_InputMessage">
    <wsdl:part name="parameters" element="tns:Pub_ConaCancPolNTU" />
  </wsdl:message>
  <wsdl:message name="IService1_Pub_ConaCancPolNTU_OutputMessage">
    <wsdl:part name="parameters" element="tns:Pub_ConaCancPolNTUResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Pub_FinaCancPolNTU_InputMessage">
    <wsdl:part name="parameters" element="tns:Pub_FinaCancPolNTU" />
  </wsdl:message>
  <wsdl:message name="IService1_Pub_FinaCancPolNTU_OutputMessage">
    <wsdl:part name="parameters" element="tns:Pub_FinaCancPolNTUResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="Upload">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Upload" message="tns:IService1_Upload_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UploadResponse" message="tns:IService1_Upload_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Download">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Download" message="tns:IService1_Download_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DownloadResponse" message="tns:IService1_Download_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EjecutaAppRemota">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EjecutaAppRemota" message="tns:IService1_EjecutaAppRemota_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EjecutaAppRemotaResponse" message="tns:IService1_EjecutaAppRemota_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaMySQL">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ConsultaMySQL" message="tns:IService1_ConsultaMySQL_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ConsultaMySQLResponse" message="tns:IService1_ConsultaMySQL_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DescargaMySQL">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DescargaMySQL" message="tns:IService1_DescargaMySQL_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DescargaMySQLResponse" message="tns:IService1_DescargaMySQL_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Query">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Query" message="tns:IService1_Query_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/QueryResponse" message="tns:IService1_Query_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreaRegSQL">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreaRegSQL" message="tns:IService1_CreaRegSQL_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreaRegSQLResponse" message="tns:IService1_CreaRegSQL_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Pub_ConaEmiPolSAPS">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Pub_ConaEmiPolSAPS" message="tns:IService1_Pub_ConaEmiPolSAPS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Pub_ConaEmiPolSAPSResponse" message="tns:IService1_Pub_ConaEmiPolSAPS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Pub_FinaEmiPolSAPS">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Pub_FinaEmiPolSAPS" message="tns:IService1_Pub_FinaEmiPolSAPS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Pub_FinaEmiPolSAPSResponse" message="tns:IService1_Pub_FinaEmiPolSAPS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Pub_ConaCancPolNTU">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Pub_ConaCancPolNTU" message="tns:IService1_Pub_ConaCancPolNTU_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Pub_ConaCancPolNTUResponse" message="tns:IService1_Pub_ConaCancPolNTU_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Pub_FinaCancPolNTU">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Pub_FinaCancPolNTU" message="tns:IService1_Pub_FinaCancPolNTU_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Pub_FinaCancPolNTUResponse" message="tns:IService1_Pub_FinaCancPolNTU_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <wsp:PolicyReference URI="#BasicHttpBinding_IService1_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Upload">
      <soap:operation soapAction="http://tempuri.org/IService1/Upload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Download">
      <soap:operation soapAction="http://tempuri.org/IService1/Download" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EjecutaAppRemota">
      <soap:operation soapAction="http://tempuri.org/IService1/EjecutaAppRemota" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaMySQL">
      <soap:operation soapAction="http://tempuri.org/IService1/ConsultaMySQL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DescargaMySQL">
      <soap:operation soapAction="http://tempuri.org/IService1/DescargaMySQL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Query">
      <soap:operation soapAction="http://tempuri.org/IService1/Query" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreaRegSQL">
      <soap:operation soapAction="http://tempuri.org/IService1/CreaRegSQL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Pub_ConaEmiPolSAPS">
      <soap:operation soapAction="http://tempuri.org/IService1/Pub_ConaEmiPolSAPS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Pub_FinaEmiPolSAPS">
      <soap:operation soapAction="http://tempuri.org/IService1/Pub_FinaEmiPolSAPS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Pub_ConaCancPolNTU">
      <soap:operation soapAction="http://tempuri.org/IService1/Pub_ConaCancPolNTU" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Pub_FinaCancPolNTU">
      <soap:operation soapAction="http://tempuri.org/IService1/Pub_FinaCancPolNTU" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://45.235.173.229:7777/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>